<button class="ui mini circular icon red button" {{action 'openDeleteModal'}}
         title="Delete"><i class="remove icon"></i>
</button>
{{#ui-modal name= modalName class= modalName }}
  <div class="ui icon header">
    <i class="huge red warning sign icon"></i>
                      Please Confirm!
  </div>
  <div class="content">
    <p>Are you sure you want to delete the post?</p>
  </div>
  <br>
  <div class="actions">
    <div class="ui red cancel inverted button">
      <i class="remove icon"></i>
      Cancel
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Delete
    </div>
  </div>
  <br>
{{/ui-modal}}
