<br>
<h1>About Page</h1>
<br>
<p>
  The purpose of this tutorial is to provide basic understanding of Ember.js
  Framework and to gain hand-on practice on some of its features.
</p>
<br><br>
{{show-logo}}
<br><br>
{{outlet}}