<br>
<h2> Contact Information </h2>
<h3> put your name here </h3>
<div class="ui list">
  <div class="item">
    {{#link-to 'contact.phone'}}
      <i class="phone icon"></i>
      Phone
    {{/link-to}}
  </div>
  <div class="item">
    {{#link-to 'contact.Email'}}
    <i class="mail icon"></i>
    Email
    {{/link-to}}
  </div>
</div>
{{outlet}}
<br><br><br>